<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Countries | List</title>
    <style>
        table, th, td {
        border:1px solid black;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center; color: midnightblue; border: 2px solid darkblue; background-color: bisque">Countries Site</h1>
    <a href="http://192.168.99.100:8000/countries"><button>Back <<<</button></a>
    <table style="width: 100%">
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Country</th>
        </tr>
        {% for country in countries %}
            <tr>
                <td>{{ country.id }}</td>
                <td>{{ country.code }}</td>
                <td>{{ country.name }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>